body {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: red;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgray;
}

.player-one-area, .player-two-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 136, 136);
}

#player-one, #player-two {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.game-info {
    text-align: center;
}

.game-area {
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    grid-gap: 5px;
}

.game-square {
    border: 2px solid black;
    font-size: 70px;
    text-align: center;
    line-height: 100px;
}

.rematch {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#rematch-btn {
    padding: 10px;
    font-size: 18px;
    background-color: orange;
}

