html {
    margin: 0 auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.378), rgba(0, 0, 0, 0.7)), url("../Images/basketball-court.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 100%;
}

header {
    font-family: 'Bebas Neue';
    text-align: center;
    color: white;
    font-size: 30px;
}

main {
    font-family: 'Bebas Neue';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

section h1 {
    font-size: 50px;
}

.player-one-area, .player-two-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231, 0.863);
    background-size: cover;
    border-radius: 50px;
    margin: 100px;

}

input {
    font-size: 18px;
    text-align: center;
    padding: 10px 40px 10px 40px;
}

#player-one, #player-two, .wins {
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
    margin: 0;
}

.wins {
    color: rgb(216, 95, 2);
}

p {
    font-size: 25px;
}

h3 {
    text-align: center;
}

.game-area {
    align-items: center;
    margin: 0 auto;
}

.game-info {
    text-align: center;
    color: white;
    font-size: 35px;
}

.timer {
    font-family: 'Bebas Neue';
    text-align: center;
    background-color: red;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.game-square {
    border: 2px solid black;
    font-family: 'Permanent Marker';
    font-size: 70px;
    text-align: center;
    line-height: 100px;
    background-color: white;
}

.rematch {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.rematch-btn, .start-btn {
    padding: 10px 50px 10px 50px;
    font-size: 25px;
    background-image: url("../Images/basketball-texture.jpg") ;
    background-size: cover;
    color: white;
    font-family: 'Graduate';
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 9px rgb(53, 53, 53);
}

.rematch-btn:active, .start-btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}